
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/dbnavigator.xml
.idea/GofL.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/game.cpython-37.pyc
__pycache__/game.cpython-37.pyc
.DS_Store

