appnope==0.1.0
backcall
certifi==2022.12.7
decorator==4.4.2
ipython
ipython-genutils==0.2.0
jedi
numpy
pandas
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit
ptyprocess==0.6.0
Pygments==2.7.4
python-dateutil==2.8.1
pytz==2020.1
six
traitlets==4.3.3
wcwidth